Repository openshift/osd-example-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: bundle-on-pull-request, catalog-on-pull-request, catalog-on-push

Path conditions:
  bundle-on-pull-request: (((any of: .tekton/bundle-pull-request.yaml) or (any of: deploy/***)) or (any of: config/manifests/***)) or (any of: config/metadata/***)
  catalog-on-pull-request: any of: .tekton/catalog-pull-request.yaml
  catalog-on-push: any of: .tekton/catalog-push.yaml

Red Hat Konflux purge catalog Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
Due: catalog-on-pull-request, catalog-on-push

Red Hat Konflux purge bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: bundle-on-pull-request

Red Hat Konflux purge operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: none

Boilerplate: Update to 60d0e2a266a84b3f639c5a7089f6b48fa8661bf3
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/boilerplate-commit
  boilerplate/_lib/common.sh
  boilerplate/_lib/freeze-check
  boilerplate/openshift/golang-osd-operator-osde2e/e2e-harness-generate.sh
  boilerplate/openshift/golang-osd-operator-osde2e/test-harness-template.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/build-opm-catalog.sh
  boilerplate/openshift/golang-osd-operator/csv-generate/catalog-publish.sh
  boilerplate/openshift/golang-osd-operator/ensure.sh
  boilerplate/openshift/golang-osd-operator/golangci.yml
  boilerplate/openshift/golang-osd-operator/prow-config
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

osde2e: rerun make e2e-harness-generate
  Makefile
  osde2e/Containerfile.konflux
  osde2e/Dockerfile
  osde2e/osd_example_operator_runner_test.go
  osde2e/test-harness-template.yml
Due: none

Red Hat Konflux update bundle-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bundle-main-pull-request.yaml
  .tekton/bundle-main-push.yaml
Due: none

Red Hat Konflux update catalog-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/catalog-main-pull-request.yaml
  .tekton/catalog-main-push.yaml
Due: none

Red Hat Konflux update e2e-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/e2e-main-pull-request.yaml
  .tekton/e2e-main-push.yaml
Due: none

Red Hat Konflux update osd-example-operator-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/osd-example-operator-main-pull-request.yaml
  .tekton/osd-example-operator-main-push.yaml
Due: none

Boilerplate: Update to dbd223ca5ca6cca5a11cdb7a91960ba92b33abfc
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/update
Due: none

Boilerplate: Update to 1b2a6726740eef2cac4cf00d54d0681578b3e0ec
  boilerplate/_data/last-boilerplate-commit
  boilerplate/update
Due: none

make boilerplate-update
  .ci-operator.yaml
  boilerplate/_data/backing-image-tag
  build/Dockerfile
Due: none

Boilerplate: Update to c272264182527d35570ac5405ab8570d0a2d8305
  .ci-operator.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
Due: none

Red Hat Konflux update operator-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-pull-request.yaml
  .tekton/operator-main-push.yaml
Due: none

deploy: configure the operator deployment
  deploy/operator.yaml
  deploy/service_account.yaml
Due: bundle-on-pull-request

.tekton/operator-main*: update pathchanged targets
  .tekton/operator-main-pull-request.yaml
  .tekton/operator-main-push.yaml
Due: none

Update operator-main to 5dce4d2
  deploy/operator.yaml
Due: bundle-on-pull-request

.tekton/bundle*: point to shared pipeline
  .tekton/bundle-main-pull-request.yaml
  .tekton/bundle-main-push.yaml
Due: none

Update operator-main to df1257b
  deploy/operator.yaml
Due: bundle-on-pull-request

.tekton/catalog*: point to shared pipeline
  .tekton/catalog-main-pull-request.yaml
  .tekton/catalog-main-push.yaml
Due: none

Boilerplate: Update to 8563add3b7f509de3b49ba04863d2708d965b489
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator-osde2e/e2e-harness-generate.sh
  boilerplate/openshift/golang-osd-operator-osde2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  osde2e/Dockerfile
Due: none

.tekton/*: set on-cel-expr to prevent infinite rebuilds
  .tekton/bundle-main-pull-request.yaml
  .tekton/bundle-main-push.yaml
  .tekton/catalog-main-pull-request.yaml
  .tekton/catalog-main-push.yaml
  .tekton/e2e-main-pull-request.yaml
  .tekton/e2e-main-push.yaml
Due: none

.tekton/catalog*: fix bundle ref
  .tekton/catalog-main-pull-request.yaml
  .tekton/catalog-main-push.yaml
Due: none

go.mod: bump to 1.22
  go.mod
Due: none

bp update
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/common.sh
  boilerplate/openshift/golang-osd-operator-osde2e/README.md
  boilerplate/openshift/golang-osd-operator-osde2e/e2e-harness-generate.sh
  boilerplate/openshift/golang-osd-operator-osde2e/standard.mk
  boilerplate/openshift/golang-osd-operator-osde2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/csv-generate/csv-generate.sh
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/osd_example_operator_runner_test.go
  test/e2e/osd_example_operator_tests.go
  test/e2e/test-harness-template.yml
Due: none

fix: add clusterrole[binding]s and setup reconciler
  deploy/cluster_role.yaml
  deploy/cluster_role_binding.yaml
  deploy/service_account.yaml
  main.go
Due: bundle-on-pull-request

controllers: rename import
  controllers/example_controller.go
  controllers/suite_test.go
Due: none

fix: run make container-generate
  api/v1alpha1/zz_generated.deepcopy.go
  deploy/crds/managed.openshift.io_examples.yaml
Due: bundle-on-pull-request

fix: rename import to test
  main.go
Due: none

boilerplate: set the IMAGE_PULL_PATH
  boilerplate/_lib/common.sh
Due: none

THROWAWAY: drop all code to test build
  main.go
Due: none

Revert "fix: rename import to test"
  main.go
Due: none

Revert "THROWAWAY: drop all code to test build"
  main.go
Due: none
